{% extends 'main.html' %}
{% load static %}


{% block content %}

<div>
    <h2>Admin Booking</h2>
</div>

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <div>
            <label for="userid">Select a client</label>
            <select name="userid">
                {% for client in clients %}
                <option value="{{client}}">{{client.username}}</option>
                {% endfor %}
            </select>
            <br>

            <label for="appt_day">Choose a day for your appointment</label>
            <select name="appt_day">
                {% for validateWeekday in validateWeekdays %}
                <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                {% endfor %}
            </select>
            <br>
            <a href="{% url 'bookingAdminSubmit' %}">
                <input type="submit" value="Continue">
            </a>
        </div>
    </form>
    
</div>

{% endblock %}