{% extends 'main.html' %}

{% block content %}

<div>
    <h2>THIS IS THE HOME PAGE</h2>
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet. Est quia soluta et rerum error est ducimus tempore et fuga possimus rem nostrum assumenda et earum quod. Est maxime recusandae ab nihil quisquam et excepturi sint est cumque laudantium vel molestias alias ut unde dolor.

        Ut voluptates velit ut praesentium perspiciatis aut reprehenderit praesentium et consequatur consequatur aut omnis molestiae eos voluptate exercitationem? Et doloribus obcaecati ab temporibus eveniet non exercitationem beatae cum reiciendis quisquam id aperiam corrupti et nostrum quisquam ut quisquam voluptate! Vel enim autem ut labore fuga et internos modi qui laboriosam ipsa ut odio rerum ab libero amet. Cum quos dolorem ut aspernatur aliquid est voluptates corrupti aut praesentium eligendi eos amet quis et aliquam eveniet et omnis quae.
        
        Ut consequatur accusantium sed rerum maiores et error unde est Quis sequi. Et voluptatem molestias aut assumenda dolores ut sunt dolorum sed fuga asperiores? Est fuga natus eos dolores eius vel minima sapiente aut enim minima sed exercitationem quidem. Non galisum fugit non voluptatibus eveniet est quos dolores qui internos explicabo a eaque soluta et ratione laudantium.
    </p>

</div>
{% endblock %}